<div class="row">
    <div class="column">
        <app-display-post-count [PostCount]="postCount"></app-display-post-count>
    </div>
    <div class="column">
        <app-display-posts [postContentModel]="postContentModel"></app-display-posts>
    </div>
    <div class="column ">
        <div class="lastcol">

            <button mat-fab color="primary" [routerLink]="'./add'" title=" Add new post">
                <mat-icon>add</mat-icon></button><br>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>